.music__main {
    position: relative;
    padding: 0px 0px 50px 0px;
    background-color: #fff;

    $color: #8e8e8e;

    &-dir {
        color: #ff496f;
        font-weight: 700;
        font-size: 16px;
        position: relative;
        top: 25px;
        left: 60px;
    }

    &-header {
        display: block;
        position: absolute;
        right: 20px;
        top: 0;

        &-head {
            position: absolute;
            top: 20px;
            right: 20px;
            transform: translate(-50%);
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1000;
            cursor: pointer;
            
            $height: 50px;
            
            i {
                transition: .1s all ease;
            }

            span {
                color: $color;
                position: relative;
                margin-left: 10px;
                font-size: 14px;
            }

            &-wrap {
                width: $height;
                height: $height;
                overflow: hidden;
                border-radius: 50%;
                box-sizing: border-box;
                // border: 2.5px solid $color;

                img {
                    height: 100%;
                    position: relative;
                    display: block;
                    right: 25%;
                }
            }
        }

        &-list {
            display: none;

            &-active {
                display: block;
                position: relative;
                margin-right: 35px;
                margin-top: 90px;
                z-index: 1000;
                padding: 10px 10px 0px;
                background-color: #F4F6F8;
                // border: 1px solid $color;
                border-radius: 5px; 
                line-height: 30px;

                .music__main-header-head .fas {
                    position: relative;
                    transform: rotate(180deg);
                    display: block;
                }

                li {
                    width: 100%;
                    border-bottom: .2px solid $color;
                    padding: 2px;
                    color: $color;
                    cursor: pointer;
                    font-size: 15px;

                    &:active {
                        color: #000;
                    } 

                    span {
                        margin-right: 10px;
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: -6.5px;
                    right: calc(50% - 5px);
                    width: 10px;
                    height: 10px;
                    background: #f4f6f8;
                    // border-left: 1px solid $color;
                    // border-top: 1px solid $color;
                    transform: rotate(45deg);
                }
            }
        }
    }


    .full__view {
        // background-color: $color;
        display: block;
        margin: 0 auto;
        padding-top: 10%;

        .music__main-full {

            &-info {
                display: block;
                width: 30%;
                margin-bottom: 20px;
                margin: 0 auto;
                white-space: nowrap;
            }

            &-cover {
                display: block;
                margin: 0 auto;
                position: relative;
                margin-top: 20px;
            }
        }
    }

    &-full {
        position: fixed;
        bottom: -100%;
        left: 15%;
        width: 85%;
        height: calc(100% - 75px);
        color: #bfbfbf;
        z-index: 100;
        background-color: #0f1626;
        transition: .2s all ease-in;
        padding: 15px 60px 10px 60px;

        &-active {
            position: fixed;
            bottom: 50px;
            width: 85%;
            z-index: 100;
            height: calc(100% - 75px);
            color: #bfbfbf;
            background-color: #18274a;/*#0f1626;*/
            transition: .2s all ease-in;
            padding: 15px 60px 10px 60px;
        }

        &-info {
            font-size: 13px;
            display: block;

            span {
                margin-right: 20px;
            }

            h1 {
                margin-bottom: 15px;
                font-size: 30px;
            }

            // span {}
            // text-transform: uppercase;
        }    

        &-cover {
            width: 30%;
            overflow: hidden;
            position: relative;
            margin-top: 30px;
            box-shadow: 0px 0px 27px 6px rgba(0,0,0,0.75);
            // box-shadow: 15px 15px 20px -4px rgba(0,0,0,0.75);

            &:after {
                content: "";
                padding-top: 100%;
                display: block;
            }

            &-container {
                position: absolute;
                width: 100%;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }
            img {
                width: 110%;
                left: -5%;
                position: relative;
                height: auto;
            }
        }
    }
    

    &-songs {
        width: 60%;
        position: relative;
        margin-top: 30px;
        padding: 0;

        &-nav {
            width: 100%;
            position: relative;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-bar {
                width: 15%;
                display: flex;
                justify-content: space-between;

                span {
                    color: #8e8e8e;
                    cursor: pointer;
                    font-size: 18px;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }

        &-list {
            width: 100%;
            line-height: 50px;
            display: block;
            padding-left: 0;
            margin: 0;
            counter-reset: item;

            #now_play {
                color: #ff496f;

                &:active .play_btn {
                    font-size: 32px;
                }

                &::before {
                    content: '';
                }

                .play_btn {
                    opacity: 1;
                    color: #ff2654;
                    margin-right: 11.5px;
                    transform-origin: center;
                }
            }

            .play_btn {
                display: block;
                opacity: 0;
                cursor: pointer;
                position: relative;
                right: 10px;
                font-size: 30px;
                color: $color;
            }

            li {
                // width: 100%;
                position: relative;
                align-items: center;
                display: flex;
                transition: .2s all ease;
                border-bottom: .5px solid #e8e8e8; 
                font-weight: bold;
                cursor: pointer;
                box-sizing: border-box;
                font-size: 14px;
                padding-left: 20px;

                &:hover .play_btn {
                    opacity: 1;
                    color: #ff2654;
                    margin-right: 11.5px;
                }
                &:hover {
                    color: $color;
                    background: rgba(0, 0, 0, 0.1);
                }

                &:hover::before {
                    content: "";
                }

                &::before {
                    content: counter(item) '.';
                    counter-increment: item;
                }
            }

            &-saved {
                font-size: 18px;
                position: absolute;
                right: 75px;
                color: $color;
            }

            &-time_now {
                position: absolute;
                right: 13px;
                font-weight: 100;
                color: #8e8e8e;
            }

        }
    }
}   